extends layout

block content

  table
    tr
      th Name
      th location
      th pets
    tr
      td= user_info[0].username
      td= user_info[0].location
  each pet in user_info
    a(href=`/pets/${pet.pet_id}`)= pet.pet_name
    p= pet.species
    br
  each review in reviews
    p= review.username
    p= review.review

