extends layout

block content
  if cookie == user.id
    a(href=`/users/${user.id}/edit`) Edit my account

  h1= user.username
  h3= user.location
  if pets.length < 1
    p No pets :(
  else
    each pet in pets
      img(src=`${pet.pic_url}`)
      br
      a(href=`/pets/${pet.pet_id}`)= pet.pet_name
      p= pet.species
      br
  a(href='/pets/add') Add new pet
  each review in reviews
   table
    tr
      th name
      th data
      th rating
    tr
      td= review.username
      td= review.review
      td
        if review.rating == 5
          img(src="/image/5-stars.png")
        else if review.rating == 4
          img(src="/image/4-stars.png")
        else if review.rating == 3
          img(src="/image/3-stars.png")
        else if review.rating == 2
          img(src="/image/2-stars.png")
        else if review.rating == 1
          img(src="/image/1-star.png")
        else
          img(src="/image/0-stars.png")
  if cookie && cookie != user.id
    form(method='POST' action='/user_reviews')
      input(type='hidden' name='poster_id' value=`${cookie}`)
      input(type='hidden' name='user_id' value=`${user.id}`)
      if starAve == 5
        img(src="/image/5-stars.png")
      else if starAve == 4
        img(src="/image/4-stars.png")
      else if starAve == 3
        img(src="/image/3-stars.png")
      else if starAve == 2
        img(src="/image/2-stars.png")
      else if starAve == 1
        img(src="/image/1-star.png")
      else
        img(src="/image/0-stars.png")


      input(type='number' name='rating' min='0' max='5' placeholder='Rating')
      p= starAve
      br
      textarea(cols="60" rows="7" name="review" placeholder="Add a review")
      br
      button(type='submit') Add review
