extends layout

block content
  a(href='/users/edit') Edit my account

  table
    tr
      th Name
      th location
      th pets
    tr
      td= user_info[0].username
      td= user_info[0].location
  each pet in user_info
    img(src=`${pet.pic_url}`)
    a(href=`/pets/${pet.pet_id}`)= pet.pet_name
    p= pet.species
    br
  a(href='/pets/add') Add new pet
  each review in reviews
    p= review.username
    p= review.review
