extends layout

block content
  .add-a-request
    center
      h1 Edit Request
    form(action="/requests" method="POST")
      input(type="hidden" value=`${cookie}` name="poster")
      select(name="pet")
          option(disabled selected) Pets
          each pet in petInfo
            option(value=`${pet.id}`)= pet.pet_name
      br

      input(class="datepicker" type="text" name="start" placeholder= `${request.start_date}` )
      br
      input(class="datepicker" type="text" name="end" placeholder= `${request.end_date}`)
      br
      textarea(cols="60" rows="7" name="notes" placeholder= `${request.notes}`)
      br
      button(type="submit") Submit!
