extends layout

block content
  .edit-user
    center
      h1 Edit User
    form(method="POST" action=`/users/${user.id}`)
      .edit-new-form
        .left-form
          p Username:
          input(type="text" name="username" placeholder="User Name" value=`${user.username}`)
          p Email:
          input(type="text" name="email" placeholder="email" value=`${user.email}`)
          p Location:
          input(type="text" name="location" placeholder="location" value=`${user.location}`)
          p Phone Number:
          input(type="text" name="phone" placeholder="Phone Number" value=`${user.phone_number}`)
        .right-form
          p Biography:
          textarea(cols="60" rows="7" name="bio" placeholder="Biography")= user.bio
          p House Information:
          textarea(cols="60" rows="7" name="info" placeholder ="house Information")= user.house_info
      .submit-edit
        button(type="submit") Edit User