extends layout

block content
  .edit-a-pet
    center
      h1 Edit #{pet.pet_name}
    form(method='post' action=`/pets/${pet.id}/edit`)
      .edit-new-form
        .left-form
          p Name:
          input(type='text' name='name' value=`${pet.pet_name}`)
          p Temperament:
          input(type='text' name='temperament' value=`${pet.temperament}`)
          p Picture URL:
          input(type='text' name='pic_url' value=`${pet.pic_url}`)
          p Age:
          input(type='number' name='age' value=`${pet.age}`)
        .right-form
          p Biography:
          textarea(cols="60" rows="7" name='bio')= pet.bio
          p Name:
          textarea(cols="60" rows="7" name='notes')= pet.notes
      .submit-edit
        button(type='submit') Submit
