extends layout

block content
  h1 #{pet.pet_name}, Age #{pet.age}
  h3 I am a #{pet.temperament} #{pet.species} owned by #{pet.username}
  h3 #{pet.location}
  img(src=`${pet.pic_url}`)
  br
  h2 Bio:
  h4 #{pet.bio}
  br
  h2 Notes:
  h4 #{pet.notes}

  a(href=`/pets/${pet.id}/edit`) edit
