extends layout

block content
  .pet-page
    .pet-header
      h1 #{pet.pet_name}
      div.line
      p Owned by &nbsp;
        |
        a(href=`/users/${pet.users_id}`) #{pet.username}
        | , #{pet.location}
    .pet-info-container
      .pet-image
        img(src= `${pet.pic_url})`)
      .pet-info
        h1 #{pet.species}
        h2 Bio:
        p Age: #{pet.age}
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et tortor consequat id.
        h2 Notes:
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et tortor consequat id.
    if cookie == pet.user_id
      .edit-button
        button: a(href=`/pets/${pet.id}/edit`) Edit
          |
          form(method='post' action=`/pets/${pet.id}/delete`)
            button(type='submit') Delete
    hr
    br
    .review-container
      h1 Reviews
      .average-rating
        h3 Avg. Rating:
          |
          span
          |
          if starAve == 5
            img.star(src="/image/5-stars.png")
          else if starAve == 4
            img.star(src="/image/4-stars.png")
          else if starAve == 3
            img.star(src="/image/3-stars.png")
          else if starAve == 2
            img.star(src="/image/2-stars.png")
          else if starAve == 1
            img.star(src="/image/1-star.png")
          else
            img.star(src="/image/0-stars.png")
      .review-text-container
        each review in reviews
          .review
            h2= review.username
              span |
              |
              if review.rating == 5
                img.star(src="/image/5-stars.png")
              else if review.rating == 4
                img.star(src="/image/4-stars.png")
              else if review.rating == 3
                img.star(src="/image/3-stars.png")
              else if review.rating == 2
                img.star(src="/image/2-stars.png")
              else if review.rating == 1
                img.star(src="/image/1-star.png")
              else
                img.star(src="/image/0-stars.png")
            p= review.review
            hr
    .leave-a-review
      if cookie && cookie != pet.user_id
        h1 Leave a Review
        form(method='POST' action='/pet_reviews')
          input(type='hidden' name='poster_id' value=`${cookie}`)
          input(type='hidden' name='pet_id' value=`${pet.id}`)
          h2 Rating:
            |
            input(type='number' name='rating' min='0' max='5')
          textarea(cols="60" rows="7" name="review" placeholder="Add a review")
          br
          button(type='submit') Add review
