extends layout

block content

	.requests
		h1 Requests
		each request in passinData
			.request
				if request.accepted_user_id !== null
					.checkmark
						i.fa.fa-check#check-mark
				.dog-info
					img(src=`${request.pic_url}`).dog-picture
					.dog-text
						.dog-name-and-rating
							h2 #{request.pet_name}
								span |
								|
								if request.rating == 5
									img.star(src="/image/5-stars.png")
								else if request.rating == 4
									img.star(src="/image/4-stars.png")
								else if request.rating == 3
									img.star(src="/image/3-stars.png")
								else if request.rating == 2
									img.star(src="/image/2-stars.png")
								else if request.rating == 1
									img.star(src="/image/1-star.png")
								else
									img.star(src="/image/0-stars.png")
						.request-body
							p.notes= request.notes
							p.dates #{request.start_date} to #{request.end_date}
				.requester-info
					.posted-by
						p Posted by &nbsp;
							|
							a(href=`/users/${request.poster_id}/`)= request.username
					.view-request
						button
							a(href=`/requests/${request.id}`) View Request

				hr

		.add-request
			button: a(href="/requests/add") Add New Request
