extends layout

block content

  p= request.username
  p= request.pet_name
  p= request.notes
  p= request.start_date
  p= request.end_date
  br

  if request.accepted_user_id != null
    each person in user
      if person.id == request.accepted_user_id
        p= person.username
  else
    each comment in passinData
      if cookie == request.poster_id
        form(action="/requests/accept" method="POST")
          input(type="hidden" value=`${comment.user_id}` name="accepted")
          input(type="hidden" value=`${request.id}` name="request")
          button(type="submit") Accept!
      p= comment.username
      p= comment.comment_body
