extends layout

block content

  .show-request
    .pet-picture
      img(src=`${request.pic_url}`)
    .poster-pet-name
      h1= request.pet_name
    .pet-average-rating
      center
        if starAve == 5
          img.star(src="/image/5-stars.png")
        else if starAve == 4
          img.star(src="/image/4-stars.png")
        else if starAve == 3
          img.star(src="/image/3-stars.png")
        else if starAve == 2
          img.star(src="/image/2-stars.png")
        else if starAve == 1
          img.star(src="/image/1-star.png")
        else
          img.star(src="/image/0-stars.png")
    .request-dates
      center
        p From #{request.start_date} to #{request.end_date}
    .post-notes
      h3= request.notes
    br
    .request-posted-by
      .poster-name
        p Posted by &nbsp;
          |
          a(href=`/users/${request.poster_id}`) #{request.username}
      .view-poster-pet
        button: a(href=`/pets/${request.pet_id}`) View Pet

      if cookie == request.poster_id
        form(method="post" action="/requests/delete/" + `${request.poster_id}`)
          button.delete-request(type="submit") Delete
        form(method="get" action="/requests/edit/" + `${request.id}`)
          button.edit-request(type="submit") Edit
    hr.before-offers

    if request.accepted_user_id != null
      each person in user
        if person.id == request.accepted_user_id
          center
            h3 #{request.username} accepted #{person.username}'s offer.
    else
      .review-container
        h1 Offers:
        .review-text-container
          each comment in passinData
            .review
              h2: a(href=`/users/${comment.user_id}`)= comment.username
                span |
                |
                each review in user_reviews
                  if review.username == comment.username
                    if review.rating == 5
                      img.star(src="/image/5-stars.png")
                    else if review.rating == 4
                      img.star(src="/image/4-stars.png")
                    else if review.rating == 3
                      img.star(src="/image/3-stars.png")
                    else if review.rating == 2
                      img.star(src="/image/2-stars.png")
                    else if review.rating == 1
                      img.star(src="/image/1-star.png")
                    else
                      img.star(src="/image/0-stars.png")
              p= comment.comment_body
            .accept-offer
              if cookie == request.poster_id
                form(action="/requests/accept" method="POST")
                  input(type="hidden" value=`${comment.user_id}` name="accepted")
                  input(type="hidden" value=`${request.id}` name="request")
                  button.accept-button(type="submit") Accept!
              hr
          .leave-a-review
            if cookie && cookie != request.poster_id
              h1 Offer to petsit:
              form(method='POST' action='/comments')
                input(id="comment-user" type='hidden' name='user_id' value=`${cookie}`)
                input(id="comment-request" type='hidden' name='post_id' value=`${request.id}`)
                textarea(id="comment-field" cols="60" rows="7" name="comment" placeholder="Add a comment")
                br
                button(id= "comment-button" type='submit') Add comment
